/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F4F4F2;
}

/* Navbar */
.navbar {
    background-color: #2C3E50;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 2px -2px gray;
    z-index: 1000;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 24px;
    margin: 0;
    color: white;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    color: #20C997;
}

/* Section padding for content below the navbar */
main {
    padding-top: 80px; /* To avoid overlapping content with fixed navbar */
}
